@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.0.0.min.js"></script> 
<script type="text/javascript">
    $(function () { 
        $.post("https://api.lkgame.com/wechat/GetopenidByUnionid", { unionid: 'ok0Ues96SblI9MIhFC2FN1tjtXk4' }, function (data) {
                alert(data);
              });
        
    });

</script>
