@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Excel1</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SaveImage", "ExcelLog", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
             
            <div style="margin-top: 20px;">
                <fieldset id="myfieldset1">
                    <legend>上传图片</legend>
                    <p>
                        选择文件：<input id="FileUpload" type="image" name="images" style="width: 250px; height: 24px; background: White"
                            class="easyui-validatebox" />
                        <input type="image" name="xxx"/>
                    </p>
                    <p>
                        <input id="btnImport" type="submit" value="导入" style="width: 60px; height: 28px;" />
                    </p>
                    <p style="color: Red; text-align: center;">@ViewBag.error</p>
                </fieldset>
            </div> 
        }
    </div>
</body>
</html>
